html, body, #root {
  height: 100%;
}
* {
  box-sizing: border-box;
}

:root {
  --main-color: #cc0041;
  --main-color-darken: #8a022d;

  /* --main-color: #cc0041; */
}


.Container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 15px;
}

.Container h3 {
  text-align: left;
}

.App .title{
  margin: 24px 0;
}

.App .titleIcon {
  font-size: 54px;
}

tbody tr {
  cursor: pointer;
}

.doneTasks th,
.doneTasks td {
  position: relative;
  color: #27272785;
  font-style: italic;
}

.doneTasks th::after,
.doneTasks td::after {  
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 24px;
  width: 100%;
  height: 1px;
  background-color: #27272785;
}