html, body, #root {
  height: 100%;
}
* {
  box-sizing: border-box;
}

:root {
  --main-color: #cc0041;
  --main-color-darken: #8a022d;

  /* --main-color: #cc0041; */
}


.Container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 15px;
}

.Container h3 {
  text-align: left;
}

.App .title{
  margin: 24px 0;
}

.App .titleIcon {
  font-size: 54px;
}

tbody tr {
  cursor: pointer;
}

.typography-header {
  display: inline-block !important;
  color: #3d5afe !important;
}

.grid-container {
  height: 36px;
  position: relative;
}

.grid-item {
  position: absolute;
  top: -35px;
}

.add-task-button {
  color: #3d5afe !important;
  background-color: white !important;
  font-size: 35px !important;

  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12) !important; 
}

.table-head-tasks {
  color: #536dfe !important;
}

.doneTasks th,
.doneTasks td {
  position: relative;
  color: #27272785;
  font-style: italic;
}

.doneTasks th::after,
.doneTasks td::after {  
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 24px;
  width: 100%;
  height: 1px;
  background-color: #27272785;
}

.custom-card {
  margin: 25px 0;
}

.custom-cardheader {
  background-color: #3d5afe !important;
}


.custom-file-input input{
  opacity: 0;
}

.custom-cardheader span {
  color: white !important;
}