html, body, #root {
  height: 100%;
}
* {
  box-sizing: border-box;
}

:root {
  --main-color: #cc0041;
  --main-color-darken: #8a022d;

  /* --main-color: #cc0041; */
}


.Container {
  margin: 0 auto;
  max-width: 1070px;
}

.Container h3 {
  text-align: left;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
}

