.root.table-head-tasks {
    color: var(--main-color)
}

.custom-card {
  float: left !important;
  width: 1040px !important;
  margin: 0 15px !important;

    /* margin: 25px 0; */
    /* width: 1000px; */
    /* flex: 0 0 650px; */
}

.preload {
    padding: 50px;
    height: 500px;
    text-align: center;
}

.circular-preloader {
    margin-top: 25px;
}

.table-row {
    cursor: pointer;
}

.done-task svg {
    color: var(--opacity-dark);
}

.done-task th,
.done-task td {
    position: relative;
    color: var(--opacity-dark);
    font-style: italic;
}

.done-task th::after,
.done-task td::after {  
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    height: 1px;
    background-color: var(--opacity-dark);
}
