.root.table-head-tasks {
    color: var(--main-color)
}

.table-row {
    cursor: pointer;
}

.done-task th,
.done-task td {
    position: relative;
    color: var(--opacity-dark);
    font-style: italic;
}

.done-task th::after,
.done-task td::after {  
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    height: 1px;
    background-color: var(--opacity-dark);
}
