html, body, #root {
  height: 100%;
}
* {
  box-sizing: border-box;
}

:root {
  --main-color: #cc0041;
  --main-color-darken: #8a022d;
}

.Container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 15px;
}

.Container h3 {
  text-align: left;
}

