tbody tr {
  cursor: pointer;
}

.App .title{
    margin: 24px 0;
  }
  
.App .titleIcon {
    font-size: 54px;
  }
  
.App  .typography-header {
    display: inline-block !important;
    color: #3d5afe !important;
    font-weight: 500 !important;
}