
.title{
    margin: 24px 0;
  }
  
.root.title-icon {
    color: #3d5afe;
    font-size: 54px;
}
  
.root.title-typography {
    text-align: left;
    display: inline-block;
    color: #3d5afe;
    font-weight: 500;
}